spring:
  application:
    name: gateway
  config:
    import: optional:configserver:http://localhost:8082

  main:
    web-application-type: reactive

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/spring
server:
  port: 8081